@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lexend+Deca:wght@300&display=swap");

html {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url(./images/bg1.jpg);
  background-size: cover;
  transition: all 0.5s ease;
}

.quoteDiv {
  max-width: 500px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.quote {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  border-radius: 3px;
  padding: 1em;
  background-color: rgba(51, 51, 51, 0.05);
  background-clip: text;
}

button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Lexend Deca", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
